:root {
    --dark-color: #19283f;
    --green-color: #33d1cc;
    --red-color: #ff3150;
    --yellow-color: #ffc400;
    --section-color: #eff7fa;
    --main-trans: 0.25s;
}

body {
    font-family: "Roboto", sans-serif;
}

.navbar {
    background-color: var(--dark-color);
}

.navbar li:not(:last-child) a {
    color: white;
    font-weight: bold;
}

.navbar li a.active,
.navbar li a:not(:last-child):hover {
    color: var(--green-color) !important;
}

.menu {
    color: white;
    border-color: white !important;
}

.main-btn {
    background-color: var(--red-color);
    color: var(--yellow-color);
    padding: 0.5rem 1rem;
}

.main-btn:hover,
.main-btn:active {
    background-color: var(--red-color) !important;
    color: var(--yellow-color) !important;
}

.search {
    color: var(--green-color) !important;
    font-weight: bold;
    border-left: 2px solid var(--green-color);
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}


.landing {
    min-height: calc(100dvh - 70px);
    background-color: var(--dark-color);
}


.main-title::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 2px;
    background-color: var(--green-color);
}


.features .icon-holder {
    height: 200px;
}

.features .icon-holder .number {
    font-size: 12rem;
    color: var(--section-color);
}

.features .icon-holder svg {
    left: 50%;
    transform: translateX(-50%);
}

.features .icon-holder i {
    left: 50%;
    transform: translateX(-50%);
}

.features .icon-holder .icon {
    color: var(--green-color);
}

.features .feat h4 {
    color: var(--yellow-color);
}


.our-work {
    background-color: var(--section-color);
}


.our-work li {
    padding: 0.25rem 0.5rem;
    transition: var(--main-trans);
}

.our-work li.active {
    background-color: var(--red-color);
    color: var(--yellow-color);
}

.our-work li:not(.our-work li.active):hover {
    color: var(--red-color);
    cursor: pointer;
}

.our-work .box {
    position: relative;
    padding:
        5px;
    overflow:
        hidden;
}

.our-work .box::before {
    content: attr(data-work);
    position: absolute;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(51, 209, 204, 0.76);
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    transform: translateX(calc(-100% - 10px));
    transition: var(--main-trans);
}

.our-work .box:hover::before {
    transform: translateX(0);
}

.stuff .description {
    max-width: 500px;
}


.team {
    background-color: var(--section-color);
}

.team h2 {
    color: var(--yellow-color);
}

.team .box {
    border-radius: 20px;
    overflow: hidden;
}

.team .box h4 {
    background-color: var(--green-color);
}


.project {
    background-color: var(--dark-color);
}


.blogs .blog {
    border: 1px solid #eee;
    border-radius: 20px;
    overflow: hidden;
}

.subscribe {
    background-color: var(--yellow-color);
}

.subscribe input[type="text"] {
    border: none;
    border-bottom: 1px solid white;
}

.subscribe input[type="text"]:focus {
    outline: none;
}

.subscribe ::placeholder {
    color: white;
}

.subscribe input[type="submit"] {
    background-color: var(--dark-color);
    color: var(--yellow-color);
}


footer {
    background-color: var(--dark-color);
}

footer .info .copyright p:first-child span {
    color: var(--green-color);
}

footer .info .copyright p:last-child span {
    color: var(--yellow-color);
}

footer .facebook {
    background-color: #1877f2;
}

footer .twitter {
    background-color: #1da1f2;
}

footer .linkedin {
    background-color: #0077b5;
}

footer .youtube {
    background-color: #ff0000;
}